{% extends 'base.html' %}

{% block title %}Article:Detail{% endblock title %}

{% block container %}

<h2>{{ article.title }}</h2>
<p>{{ article.created_at }}</p>
<hr>
<a href="{% url 'articles:update' article.pk %}">[수정하기]</a>
<form action="{% url 'articles:delete' article.pk %}" method="post">
  {% csrf_token %}
  <button type="submit">[삭제하기]</button>
</form>
<p>{{ article.content }}</p>

<br>
<hr>
<br>
<h3>Comment</h3>
<form action="{% url 'articles:create_com' article.pk %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">[작성하기]</button>
</form>
<ul>
{% for comment in comments %}
  
  <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="post">
    {% csrf_token %}
    <span>{{ comment.content }} - {{ comment.created_at }}</span>
    <button type="submit">[삭제]</button>
  </form>
  
{% endfor %}
</ul>
{% endblock container %}