{% extends 'base.html' %}

{% block title %}Article:Detail{% endblock title %}

{% block container %}

<h2>{{ article.title }}</h2>
<p>{{ article.created_at }}</p>
<p>작성자: {{ article.user }}</p>
<hr>

{% if article.user == request.user %}
  <a href="{% url 'articles:update' article.pk %}">[수정하기]</a>
  <form action="{% url 'articles:delete' article.pk %}" method="post">
    {% csrf_token %}
    <button type="submit">[삭제하기]</button>
  </form>
{% endif %}
<p>{{ article.content }}</p>

<br>
<hr>
<br>

<h3>Comment</h3>

{% if user.is_authenticated %}
<form action="{% url 'articles:create_com' article.pk %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">[작성하기]</button>
</form>
{% endif %}
<ul>
{% for comment in comments %}
  
    <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="post">
      {% csrf_token %}
      <span>{{ comment.content }} - {{ comment.created_at }} - {{ comment.user }}</span>
      {% if comment.user == request.user %}
      <button type="submit">[삭제]</button>
      {% endif %}
    </form>
  
  
{% endfor %}
</ul>
{% endblock container %}